@model Licenta.Models.Poll
@{
    ViewBag.Title = "Edit poll";
    int i = 1;
    int j = 1;
}

<script>

    var questionsJson = @Html.Raw(@ViewBag.QuestionsJson);


    window.onload = function () {
        @foreach (var question in Model.Questions)
        {
            <text>onLoadAddQuestion(@question.QuestionType)</text>

            j = 1;
            foreach(var answer in question.Answers)
            {
                <text>onLoadAddAnswerToQuestion(</text> @i <text>);</text>
                j++;
            }

            i++;
        }
    }

    function increaseQuestionsCount() {
        // Increase the questions count
        var value = parseInt(document.getElementById("Questions_Count").value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById("Questions_Count").value = value;
    }

    function increaseQuestionAnswersCount(questionId) {
        var value = parseInt(document.getElementById("Question" + questionId + "_AnswersCount").value, 10);

        value = isNaN(value) ? 0 : value;
        value++;

        document.getElementById("Question" + questionId + "_AnswersCount").value = value;
    }

    function decreaseQuestionsCount() {
        // Increase the questions count
        var value = parseInt(document.getElementById("Questions_Count").value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        document.getElementById("Questions_Count").value = value;
    }

    function decreaseQuestionAnswersCount(questionId) {
        var value = parseInt(document.getElementById("Question" + questionId + "_AnswersCount").value, 10);

        value = isNaN(value) ? 0 : value;
        value--;

        document.getElementById("Question" + questionId + "_AnswersCount").value = value;
    }

    function extractQuestionId(stringTagId) {


        var stringMatches = stringTagId.match(/(\d+)/);
        var stringQuestionId = stringMatches[0];

        var numberQuestionId = parseInt(stringQuestionId, 10);
        numberQuestionId = isNaN(numberQuestionId) ? 0 : numberQuestionId;

        return numberQuestionId;
    }

    function extractRowId(stringTagId) {
        stringTagId = stringTagId.substring(stringTagId.search("Row"));

        var stringMatches = stringTagId.match(/(\d+)/);
        var stringAnswerId = stringMatches[0];

        var numberAnswerId = parseInt(stringAnswerId, 10);
        numberAnswerId = isNaN(numberAnswerId) ? 0 : numberAnswerId;

        return numberAnswerId;
    }

    function getNewAnswerId(questionId) {
        var value = parseInt(document.getElementById("Question" + questionId + "_AnswersCount").value, 10);

        value = isNaN(value) ? 0 : value;
        value++;

        return value;
    }

    function addQuestion(newQuestionType) {
        var addQuestionListItem = document.getElementById("ListItem_AddQuestion");
        var questionsList = addQuestionListItem.parentNode;
        var newQuestionId = getNewQuestionId();

        // Create the new list item which contains the new question and append it to the list of questions
        var newListItem = createListItemQuestion(newQuestionId, newQuestionType);
        questionsList.insertBefore(newListItem, addQuestionListItem);

        initializeInputWithQuestionData(newQuestionId, newQuestionType);
        increaseQuestionsCount();

        if (newQuestionType != 3) {
            addAnswerToQuestion(newQuestionId);
        }
    }

    function onLoadAddQuestion(newQuestionType) {
        var addQuestionListItem = document.getElementById("ListItem_AddQuestion");
        var questionsList = addQuestionListItem.parentNode;
        var newQuestionId = getNewQuestionId();

        // Create the new list item which contains the new question and append it to the list of questions
        var newListItem = onLoadCreateListItemQuestion(newQuestionId, newQuestionType);
        questionsList.insertBefore(newListItem, addQuestionListItem);

        initializeInputWithQuestionData(newQuestionId, newQuestionType);
        increaseQuestionsCount();
    }

    function addAnswerToQuestion(questionId) {
        var question = document.getElementById("Question" + questionId);
        var divAddAnswer = document.getElementById("Question" + questionId + "_Row_AddAnswer_Content");
        var newAnswerId = getNewAnswerId(questionId);

        // Create the row which contains the label and the input and appends it to the question
        var newRowWithContent = createRowWithContentTextarea(questionId, newAnswerId)
        question.insertBefore(newRowWithContent, divAddAnswer);

        // Create the row which contains the empty space and appends it to the question
        var newRowWithEmptySpace = createRowWithEmptySpace(questionId, newAnswerId);
        question.insertBefore(newRowWithEmptySpace, divAddAnswer);

        increaseQuestionAnswersCount(questionId);
    }

    function onLoadAddAnswerToQuestion(questionId) {
        var question = document.getElementById("Question" + questionId);
        var divAddAnswer = document.getElementById("Question" + questionId + "_Row_AddAnswer_Content");
        var newAnswerId = getNewAnswerId(questionId);

        // Create the row which contains the label and the input and appends it to the question
        var newRowWithContent = onLoadCreateRowWithContentTextarea(questionId, newAnswerId)
        question.insertBefore(newRowWithContent, divAddAnswer);

        // Create the row which contains the empty space and appends it to the question
        var newRowWithEmptySpace = createRowWithEmptySpace(questionId, newAnswerId);
        question.insertBefore(newRowWithEmptySpace, divAddAnswer);

        increaseQuestionAnswersCount(questionId);
    }

    function createListItemQuestion(questionId, newQuestionType) {
        var newQuestionId = getNewQuestionId();

        // Create the list item
        var newListItem = document.createElement("li");
        newListItem.id = "Question" + questionId;
        newListItem.classList.add("list-group-item");

        // Create the row which contains the question type label and the input and appends it to the question list item
        var newRowWithQuestionTypeContent = createRowWithQuestionTypeTextContent(newQuestionId, newQuestionType);
        newListItem.appendChild(newRowWithQuestionTypeContent);

        // Create the row which contains the empty space and appends it to the question list item
        var newRowWithQuestionTypeEmpty = createRowWithQuestionTypeTextEmpty(newQuestionId, newQuestionType);
        newListItem.appendChild(newRowWithQuestionTypeEmpty);

        // Create the row which contains the question text label and the input and appends it to the question list item
        var newRowWithContent = createRowWithQuestionTextContent(newQuestionId);
        newListItem.appendChild(newRowWithContent);

        // Create the row which contains the empty space and appends it to the question list item
        var newRowWithEmptySpace = createRowWithQuestionTextEmpty(newQuestionId);
        newListItem.appendChild(newRowWithEmptySpace);


        if (newQuestionType != 3) {
            // Create the row which contains the add answer button and appends it to the question list item
            var newRowWithAddAnswerButtonContent = createRowWithQuestionAddAnswerButtonContent(questionId);
            newListItem.appendChild(newRowWithAddAnswerButtonContent);

            // Create the row which contains the empty space and appends it to the question list item
            var newRowWithAddAnswerButtonEmpty = createRowWithQuestionAddAnswerButtonEmpty(questionId);
            newListItem.appendChild(newRowWithAddAnswerButtonEmpty);

        } else {

            // Create the row which contains the remove question button and appends it to the question list item
            var newRowWithRemoveCustomQuestionButtonContent = createRowWithRemoveCustomQuestionButtonContent(questionId);
            newListItem.appendChild(newRowWithRemoveCustomQuestionButtonContent);

            // Create the row which contains the empty space and appends it to the question list item
            var newRowWithRemoveCustomQuestionButtonEmpty = createRowWithRemoveCustomQuestionButtonEmpty(questionId);
            newListItem.appendChild(newRowWithRemoveCustomQuestionButtonEmpty);
        }

        return newListItem;
    }

    function onLoadCreateListItemQuestion(questionId, newQuestionType) {
        var newQuestionId = getNewQuestionId();

        // Create the list item
        var newListItem = document.createElement("li");
        newListItem.id = "Question" + questionId;
        newListItem.classList.add("list-group-item");

        // Create the row which contains the question type label and the input and appends it to the question list item
        var newRowWithQuestionTypeContent = createRowWithQuestionTypeTextContent(newQuestionId, newQuestionType);
        newListItem.appendChild(newRowWithQuestionTypeContent);

        // Create the row which contains the empty space and appends it to the question list item
        var newRowWithQuestionTypeEmpty = createRowWithQuestionTypeTextEmpty(newQuestionId, newQuestionType);
        newListItem.appendChild(newRowWithQuestionTypeEmpty);

        // Create the row which contains the question text label and the input and appends it to the question list item
        var newRowWithContent = onLoadCreateRowWithQuestionTextContent(newQuestionId);
        newListItem.appendChild(newRowWithContent);

        // Create the row which contains the empty space and appends it to the question list item
        var newRowWithEmptySpace = createRowWithQuestionTextEmpty(newQuestionId);
        newListItem.appendChild(newRowWithEmptySpace);

        if (newQuestionType != 3) {
            // Create the row which contains the add answer button and appends it to the question list item
            var newRowWithAddAnswerButtonContent = createRowWithQuestionAddAnswerButtonContent(questionId);
            newListItem.appendChild(newRowWithAddAnswerButtonContent);

            // Create the row which contains the empty space and appends it to the question list item
            var newRowWithAddAnswerButtonEmpty = createRowWithQuestionAddAnswerButtonEmpty(questionId);
            newListItem.appendChild(newRowWithAddAnswerButtonEmpty);

        } else {

            // Create the row which contains the remove question button and appends it to the question list item
            var newRowWithRemoveCustomQuestionButtonContent = createRowWithRemoveCustomQuestionButtonContent(questionId);
            newListItem.appendChild(newRowWithRemoveCustomQuestionButtonContent);

            // Create the row which contains the empty space and appends it to the question list item
            var newRowWithRemoveCustomQuestionButtonEmpty = createRowWithRemoveCustomQuestionButtonEmpty(questionId);
            newListItem.appendChild(newRowWithRemoveCustomQuestionButtonEmpty);
        }

        return newListItem;
    }

    function createRowWithQuestionTextContent(questionId) {
        // Create the row which contains the label and textarea
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_QuestionText_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-lg-2");
        newLabel.classList.add("col-lg-offset-1");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Question text:";
        newRow.appendChild(newLabel);

        // Create the textarea and append it to the row
        var newTextarea = document.createElement("textarea");
        newTextarea.classList.add("col-lg-4");
        newTextarea.classList.add("form-control");
        newTextarea.id = "Question" + questionId + "_Text";
        newTextarea.name = "Question" + questionId + "_Text";
        newTextarea.rows = 2;
        newTextarea.cols = 20;
        newRow.appendChild(newTextarea);

        return newRow;
    }

    function onLoadCreateRowWithQuestionTextContent(questionId) {
        // Create the row which contains the label and textarea
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_QuestionText_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-lg-2");
        newLabel.classList.add("col-lg-offset-1");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Question text:";
        newRow.appendChild(newLabel);

        // Create the textarea and append it to the row
        var newTextarea = document.createElement("textarea");
        newTextarea.classList.add("col-lg-4");
        newTextarea.classList.add("form-control");
        newTextarea.id = "Question" + questionId + "_Text";
        newTextarea.name = "Question" + questionId + "_Text";
        newTextarea.rows = 2;
        newTextarea.cols = 20;
        newTextarea.value = questionsJson[questionId - 1].Text;
        newRow.appendChild(newTextarea);

        return newRow;
    }

    function createRowWithQuestionTextEmpty(questionId) {
        // Create the row which contains the div which contains empty space
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_QuestionText_Empty";
        newRow.classList.add("row");

        // Create the div which contains empty space and append it to the row
        var newRowWithSpace = document.createElement("div");
        newRowWithSpace.classList.add("col-md-12");
        newRowWithSpace.innerHTML = "&nbsp;";
        newRow.appendChild(newRowWithSpace);

        return newRow;
    }

    function createRowWithQuestionAddAnswerButtonContent(questionId) {
        // Create the row which contains the add answer button
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_AddAnswer_Content";
        newRow.classList.add("row");

        // Create the add answer button and append it to the row
        var newAddAnswerButton = document.createElement("a");
        newAddAnswerButton.classList.add("btn");
        newAddAnswerButton.classList.add("btn-default");
        newAddAnswerButton.classList.add("col-lg-3");
        newAddAnswerButton.classList.add("col-lg-offset-2");
        newAddAnswerButton.innerHTML = "Add answer";
        newAddAnswerButton.addEventListener("click", function (event) {
            var auxQuestionId = extractQuestionId(event.target.parentNode.id)
            addAnswerToQuestion(auxQuestionId);
        })
        newRow.appendChild(newAddAnswerButton);

        // Create the remove question button and append it to the row
        var newRemoveQuestionButton = document.createElement("a");
        newRemoveQuestionButton.classList.add("btn");
        newRemoveQuestionButton.classList.add("btn-danger");
        newRemoveQuestionButton.classList.add("col-lg-3");
        newRemoveQuestionButton.classList.add("col-lg-offset-1");
        newRemoveQuestionButton.innerHTML = "Remove question";
        newRemoveQuestionButton.addEventListener("click", function (event) {
            removeQuestion(event.target);
        })
        newRow.appendChild(newRemoveQuestionButton);

        return newRow;
    }

    function createRowWithQuestionAddAnswerButtonEmpty(questionId) {
        // Create the row which contains the div which contains empty space
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_AddAnswer_Empty";
        newRow.classList.add("row");

        // Create the div which contains empty space and append it to the row
        var newRowWithSpace = document.createElement("div");
        newRowWithSpace.classList.add("col-md-12");
        newRowWithSpace.innerHTML = "&nbsp;";
        newRow.appendChild(newRowWithSpace);

        return newRow;
    }

    function createRowWithRemoveCustomQuestionButtonContent(questionId) {
        // Create the row which contains the add answer button
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_AddAnswer_Content";
        newRow.classList.add("row");

        // Create the add answer button and append it to the row
        var newAddAnswerButton = document.createElement("a");
        newAddAnswerButton.classList.add("btn");
        newAddAnswerButton.classList.add("btn-default");
        newAddAnswerButton.classList.add("disabled");
        newAddAnswerButton.classList.add("col-lg-3");
        newAddAnswerButton.classList.add("col-lg-offset-2");
        newAddAnswerButton.innerHTML = "Add answer";
        newAddAnswerButton.addEventListener("click", function (event) {
            var auxQuestionId = extractQuestionId(event.target.parentNode.id)
            addAnswerToQuestion(auxQuestionId);
        })
        newRow.appendChild(newAddAnswerButton);

        // Create the remove question button and append it to the row
        var newRemoveQuestionButton = document.createElement("a");
        newRemoveQuestionButton.classList.add("btn");
        newRemoveQuestionButton.classList.add("btn-danger");
        newRemoveQuestionButton.classList.add("col-lg-3");
        newRemoveQuestionButton.classList.add("col-lg-offset-1");
        newRemoveQuestionButton.innerHTML = "Remove question";
        newRemoveQuestionButton.addEventListener("click", function (event) {
            removeQuestion(event.target);
        })
        newRow.appendChild(newRemoveQuestionButton);

        return newRow;
    }

    function createRowWithQuestionTypeTextContent(questionId, questionType) {
        // Create the row which contains the label and textarea
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_QuestionType_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-lg-2");
        newLabel.classList.add("col-lg-offset-1");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Question type:";
        newRow.appendChild(newLabel);

        // Create the custom answer text and append it to the row
        var newSelectType = createSelectForQuestionType(questionId, questionType)
        newRow.appendChild(newSelectType);

        return newRow;
    }

    function createRowWithQuestionTypeTextEmpty(questionId, questionType) {
        // Create the row which contains the div which contains empty space
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_QuestionType_Empty";
        newRow.classList.add("row");

        // Create the div which contains empty space and append it to the row
        var newRowWithSpace = document.createElement("div");
        newRowWithSpace.classList.add("col-md-12");
        newRowWithSpace.innerHTML = "&nbsp;";
        newRow.appendChild(newRowWithSpace);

        return newRow;
    }

    function createRowWithRemoveCustomQuestionButtonEmpty(questionId) {
        // Create the row which contains the div which contains empty space
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row_AddAnswer_Empty";
        newRow.classList.add("row");

        // Create the div which contains empty space and append it to the row
        var newRowWithSpace = document.createElement("div");
        newRowWithSpace.classList.add("col-md-12");
        newRowWithSpace.innerHTML = "&nbsp;";
        newRow.appendChild(newRowWithSpace);

        return newRow;
    }

    function createRowWithContentTextarea(questionId, newAnswerId) {
        // Create the row which contains the label and textarea
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row" + newAnswerId + "_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-lg-2");
        newLabel.classList.add("col-lg-offset-1");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Answer" + newAnswerId + ":";
        newRow.appendChild(newLabel);

        // Create the textarea and append it to the row
        var newTextarea = document.createElement("textarea");
        newTextarea.classList.add("col-lg-4");
        newTextarea.classList.add("form-control");
        newTextarea.id = "Question" + questionId + "_Answer" + newAnswerId;
        newTextarea.name = "Question" + questionId + "_Answer" + newAnswerId;
        newTextarea.rows = 1;
        newTextarea.cols = 20;
        newRow.appendChild(newTextarea);

        // Create the remove answer button and append it to the row
        var newRemoveButton = document.createElement("a");
        newRemoveButton.classList.add("btn");
        newRemoveButton.classList.add("btn-danger");
        newRemoveButton.classList.add("col-lg-1");
        newRemoveButton.classList.add("col-lg-offset-1");
        newRemoveButton.addEventListener("click", function (event) {
            removeAnswer(event.target);
        })
        newRemoveButton.innerHTML = "Remove";
        newRow.appendChild(newRemoveButton);

        return newRow;
    }

    function onLoadCreateRowWithContentTextarea(questionId, newAnswerId) {
        // Create the row which contains the label and textarea
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row" + newAnswerId + "_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-8");
        newLabel.classList.add("offset-2");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Answer" + newAnswerId + ":";
        newRow.appendChild(newLabel);

        // Create the textarea and append it to the row
        var newTextarea = document.createElement("textarea");
        newTextarea.classList.add("col-8");
        newTextarea.classList.add("offset-2");
        newTextarea.classList.add("form-control");
        newTextarea.id = "Question" + questionId + "_Answer" + newAnswerId;
        newTextarea.name = "Question" + questionId + "_Answer" + newAnswerId;
        newTextarea.rows = 1;
        newTextarea.cols = 20;
        newTextarea.value = questionsJson[questionId - 1].Answers[newAnswerId - 1].Text;
        newRow.appendChild(newTextarea);

        // Create the remove answer button and append it to the row
        var newRemoveButton = document.createElement("a");
        newRemoveButton.classList.add("btn");
        newRemoveButton.classList.add("btn-warning");
        newRemoveButton.classList.add("col-8");
        newRemoveButton.classList.add("offset-2");
        newRemoveButton.classList.add("mt-2");
        newRemoveButton.addEventListener("click", function (event) {
            removeAnswer(event.target);
        })
        newRemoveButton.innerHTML = "Remove";
        newRow.appendChild(newRemoveButton);

        return newRow;
    }

    function createRowWithEmptySpace(questionId, newAnswerId) {
        // Create the row which contains the div which contains empty space
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row" + newAnswerId + "_Empty";
        newRow.classList.add("row");

        // Create the div which contains empty space and append it to the row
        var newRowWithSpace = document.createElement("div");
        newRowWithSpace.classList.add("col-md-12");
        newRowWithSpace.innerHTML = "&nbsp;";
        newRow.appendChild(newRowWithSpace);

        return newRow;
    }

    function createRowWithCustomAnswerText(questionId, newAnswerId) {
        // Create the row which contains the label
        var newRow = document.createElement("div");
        newRow.id = "Question" + questionId + "_Row" + newAnswerId + "_Content";
        newRow.classList.add("row");

        // Create the label and append it to the row
        var newLabel = document.createElement("label");
        newLabel.classList.add("col-lg-2");
        newLabel.classList.add("col-lg-offset-1");
        newLabel.classList.add("control-label");
        newLabel.innerHTML = "Answer:";
        newRow.appendChild(newLabel);

        // Create the custom answer text and append it to the row
        var newCustomAnswerText = document.createElement("label");
        newCustomAnswerText.classList.add("col-lg-2");
        newCustomAnswerText.classList.add("control-label");
        newCustomAnswerText.id = "Question" + questionId + "_Answer" + newAnswerId;
        newCustomAnswerText.name = "Question" + questionId + "_Answer" + newAnswerId;
        newCustomAnswerText.innerHTML = "Custom";
        newRow.appendChild(newCustomAnswerText);

        return newRow;
    }

    function initializeInputWithQuestionData(questionId, newQuestionType) {
        var divWithData = document.getElementById("Questions_Data");

        // Create the input which contains the number of answers of the given question and append it to the questions data div
        var newInput = document.createElement("input");
        newInput.id = "Question" + questionId + "_AnswersCount";
        newInput.name = "Question" + questionId + "_AnswersCount";
        newInput.type = "hidden";
        newInput.value = 0;
        divWithData.append(newInput);

        // Create the input which contains the type of the given question and append it to the questions data div
        var newInputQuestionType = document.createElement("input");
        newInputQuestionType.id = "Question" + questionId + "_Type";
        newInputQuestionType.name = "Question" + questionId + "_Type";
        newInputQuestionType.type = "hidden";
        newInputQuestionType.value = newQuestionType;
        divWithData.append(newInputQuestionType);
    }

    function createSelectForQuestionType(questionId, selectedQuestionType) {

        // Create the select tag
        var selectTag = document.createElement("select");
        selectTag.classList.add("col-lg-2");
        selectTag.classList.add("form-control");

        selectTag.addEventListener("change", function (event) {
            var questionType = document.getElementById("Question" + questionId + "_Type");
            var questionAnswerCount = document.getElementById("Question" + questionId + "_AnswersCount");
            var questionAnswerCountValue = parseInt(questionAnswerCount.value);
            var previousType = parseInt(questionType.value);
            var newType = event.target.selectedIndex + 1;
            var addAnswerButton = document.getElementById("Question" + questionId + "_Row_AddAnswer_Content").firstChild;

            // Update the type value in questions data
            questionType.value = newType;

            if (newType == 3) {
                var questionNode = document.getElementById("Question" + questionId);


                for (let i = 1; i <= questionAnswerCountValue; i++) {
                    var answerContent = document.getElementById("Question" + questionId + "_Row" + i + "_Content");
                    var answerEmpty = document.getElementById("Question" + questionId + "_Row" + i + "_Empty");

                    questionNode.removeChild(answerContent);
                    questionNode.removeChild(answerEmpty);

                    decreaseQuestionAnswersCount(questionId)
                }

                addAnswerButton.classList.add("disabled");
            }
            else if (previousType == 3) {
                addAnswerButton.classList.remove("disabled");
                addAnswerToQuestion(questionId);
            }
        });

        // Create the options tag and append them to the select
        var optionSingle = document.createElement("option");
        optionSingle.innerHTML = "Single answer";
        selectTag.appendChild(optionSingle);

        var optionMultiple = document.createElement("option");
        optionMultiple.innerHTML = "Multiple answers";
        selectTag.appendChild(optionMultiple);

        var optionCustom = document.createElement("option");
        optionCustom.innerHTML = "Custom answer";
        selectTag.appendChild(optionCustom);

        // Select the question type given through the function parameter
        selectTag.selectedIndex = selectedQuestionType - 1;

        return selectTag;
    }

    function removeInputWithQuestionData(questionId) {
        var divWithData = document.getElementById("Questions_Data");
        var inputAnswersCount = document.getElementById("Question" + questionId + "_AnswersCount");
        var inputQuestionType = document.getElementById("Question" + questionId + "_Type");

        divWithData.removeChild(inputAnswersCount);
        divWithData.removeChild(inputQuestionType);
    }

    function getNewQuestionId() {
        var value = parseInt(document.getElementById("Questions_Count").value, 10);
        value = isNaN(value) ? 0 : value;
        value++;

        return value;
    }

    function removeAnswer(removeButton) {
        var question = removeButton.parentNode.parentNode;
        var questionId = extractQuestionId(question.id);
        var removedAnswerId = extractRowId(removeButton.parentNode.id);

        var removedRowContent = removeButton.parentNode;
        var removedRowEmpty = removedRowContent.nextElementSibling;

        question.removeChild(removedRowContent);
        question.removeChild(removedRowEmpty);

        decreaseQuestionAnswersCount(questionId);

        updateAnswersOfQuestionAfterRemove(questionId, removedAnswerId);
    }

    function updateAnswersOfQuestionAfterRemove(questionId, removedAnswerId) {
        var answersCount = parseInt(document.getElementById("Question" + questionId + "_AnswersCount").value, 10);

        for (let outdatedAnswerId = removedAnswerId + 1; outdatedAnswerId <= answersCount + 1; outdatedAnswerId++) {
            var updatedAnswerId = outdatedAnswerId - 1;

            // Update row with label input and button
            var rowContent = document.getElementById("Question" + questionId + "_Row" + outdatedAnswerId + "_Content");
            rowContent.id = "Question" + questionId + "_Row" + updatedAnswerId + "_Content";

            // Update label of row
            rowContent.children[0].innerHTML = "Answer" + updatedAnswerId + ":";

            // Update input of row
            rowContent.children[1].id = "Question" + questionId + "_Answer" + updatedAnswerId;
            rowContent.children[1].name = "Question" + questionId + "_Answer" + updatedAnswerId;

            // Update "remove answer button" of row
            var cloneAnchor = rowContent.children[2].cloneNode(true);
            rowContent.replaceChild(cloneAnchor, rowContent.children[2]);
            rowContent.children[2].addEventListener("click", function (event) {
                removeAnswer(event.target);
            })

            // Update row with empty space
            var rowEmpty = document.getElementById("Question" + questionId + "_Row" + outdatedAnswerId + "_Empty");
            rowEmpty.id = "Question" + questionId + "_Row" + updatedAnswerId + "_Empty";
        }
    }

    function removeQuestion(removeButton) {
        var questionsList = removeButton.parentNode.parentNode.parentNode;
        var questionsListItem = removeButton.parentNode.parentNode;
        var questionId = extractQuestionId(questionsListItem.id);

        questionsList.removeChild(questionsListItem);


        decreaseQuestionsCount();

        updateQuestionsAfterRemove(questionId);
        removeInputWithQuestionData(questionId);
    }

    function updateQuestionsAfterRemove(removedQuestionId) {
        var questionsCount = parseInt(document.getElementById("Questions_Count").value, 10);

        for (let outdatedQuestionId = removedQuestionId + 1; outdatedQuestionId <= questionsCount + 1; outdatedQuestionId++) {
            var updatedQuestionId = outdatedQuestionId - 1;

            // Update all answers, must do first
            updateAnswersAfterQuestionRemove(outdatedQuestionId);

            // Update the list item
            var listItem = document.getElementById("Question" + outdatedQuestionId);
            listItem.id = "Question" + updatedQuestionId;

            // Update the row with question text with content
            var rowQuestionTextContent = document.getElementById("Question" + outdatedQuestionId + "_Row_QuestionText_Content");
            rowQuestionTextContent.id = "Question" + updatedQuestionId + "_Row_QuestionText_Content";

            // Update the textarea row
            rowQuestionTextContent.children[1].id = "Question" + updatedQuestionId + "_Text";
            rowQuestionTextContent.children[1].name = "Question" + updatedQuestionId + "_Text";

            // Update the row with question text with empty space
            var rowQuestionTextEmpty = document.getElementById("Question" + outdatedQuestionId + "_Row_QuestionText_Empty");
            rowQuestionTextEmpty.id = "Question" + updatedQuestionId + "_Row_QuestionText_Empty";

            // Update the buttons add answer and remove question with content
            var rowAddAnswerContent = document.getElementById("Question" + outdatedQuestionId + "_Row_AddAnswer_Content");
            rowAddAnswerContent.id = "Question" + updatedQuestionId + "_Row_AddAnswer_Content";

            // Update the buttons add answer and remove question with content
            var rowAddAnswerEmpty = document.getElementById("Question" + outdatedQuestionId + "_Row_AddAnswer_Empty");
            rowAddAnswerEmpty.id = "Question" + updatedQuestionId + "_Row_AddAnswer_Empty";

            // Update the inputs in questions data
            var inputQuestionDataAnswersCount = document.getElementById("Question" + outdatedQuestionId + "_AnswersCount");
            inputQuestionDataAnswersCount.id = "Question" + updatedQuestionId + "_AnswersCount";
            inputQuestionDataAnswersCount.name = "Question" + updatedQuestionId + "_AnswersCount";
            var inputQuestionDataType = document.getElementById("Question" + outdatedQuestionId + "_Type");
            inputQuestionDataType.id = "Question" + updatedQuestionId + "_Type";
            inputQuestionDataType.name = "Question" + updatedQuestionId + "_Type";
        }
    }

    function updateAnswersAfterQuestionRemove(outdatedQuestionId) {
        var answersCount = parseInt(document.getElementById("Question" + outdatedQuestionId + "_AnswersCount").value, 10);
        var updatedQuestionId = outdatedQuestionId - 1;

        for (let answerId = 1; answerId <= answersCount; answerId++) {
            // Update row with label input and button
            var rowContent = document.getElementById("Question" + outdatedQuestionId + "_Row" + answerId + "_Content");
            rowContent.id = "Question" + updatedQuestionId + "_Row" + answerId + "_Content";

            // Update input of row
            rowContent.children[1].id = "Question" + updatedQuestionId + "_Answer" + answerId;
            rowContent.children[1].name = "Question" + updatedQuestionId + "_Answer" + answerId;

            // Update row with empty space
            var rowEmpty = document.getElementById("Question" + outdatedQuestionId + "_Row" + answerId + "_Empty");
            rowEmpty.id = "Question" + updatedQuestionId + "_Row" + answerId + "_Empty";
        }
    }
</script>

<h2>@ViewBag.Title</h2>
<hr />

@Html.ValidationSummary("", new { @class = "text-danger" })


@using (Html.BeginForm("Edit", "Poll", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="card bg-light">
        <div class="card-header"><h4 class="mb-0 font-weight-bold">Poll details</h4></div>
        <div class="card-body">
            <div class="row">
                @Html.Label("Name", "Poll name:", new { @class = "col-lg-2 control-label font-weight-bold" })
                @Html.TextBox("Name", Model.Name, new { @class = "col-lg-2 form-control" })
            </div>
        </div>
    </div>

    <div id="Questions_Data" name="Questions_Data">
        <input id="Questions_Count" name="Questions_Count" type="hidden" value="0" />
    </div>
    <br />

    <ul class="list-group mt-5">
        <li class="list-group-item bg-light">
            <h4 class="list-group-item-heading font-weight-bold">Questions</h4>
        </li>
        <li id="ListItem_AddQuestion" class="list-group-item">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="btn-group col-lg-10 col-lg-offset-1">
                    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Add question &nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="addQuestion(1);">Single answer</a></li>
                        <li><a onclick="addQuestion(2);">Multiple answer</a></li>
                        <li><a onclick="addQuestion(3);">Custom answer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
        </li>
    </ul>

    <input id="PollId" name="PollId" type="hidden" value="@Model.PollId" />
    @Html.Hidden("CreationDate", DateTime.Now)

    <div class="form-group">
        <div class="col-md-3 col-md-offset-4">
            <input type="submit" class="btn btn-success btn-block" value="Save changes" />
        </div>
    </div>
}