@model Licenta.Models.Poll

@{
    ViewBag.Title = Model.Name;
}

<h1>@ViewBag.Title</h1>


<hr />

<div class="panel panel-primary">
    <div class="panel-heading">Personal details</div>

    <div class="panel-body">
        <div class="container">
            <div class="row">
                <label class="col-lg-2 control-label">Poll Id :</label>
                <label class="col-lg-2 control-label">@Model.PollId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Title :</label>
                <label class="col-lg-2 control-label">@Model.Name</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">OwnerId :</label>
                <label class="col-lg-2 control-label">@Model.OwnerId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Owner First Name :</label>
                <label class="col-lg-2 control-label">@Model.Profile.FirstName</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Poll creation date :</label>
                <label class="col-lg-2 control-label">@Model.CreationDate</label>
            </div>
        </div>
    </div>

</div>

@if (ViewBag.UserIsProfileOwner || ViewBag.UserIsAdmin)
{
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                @Html.ActionLink("Edit poll", "Edit", "Poll", new { id = Model.PollId }, new { @class = "btn btn-default" })
            </div>

            <div class="col-md-2">
                <form action="/profile/delete/@Model.PollId" method="post">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger">Delete poll</button>
                </form>
            </div>
        </div>
    </div>
}


