@model Licenta.Models.Poll

@{
    ViewBag.Title = Model.Name;
    int i = 1;
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.message</p>
    </div>
}

<h1>@ViewBag.Title</h1>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">Poll details</div>

    <div class="panel-body">
        <div class="container">
            <div class="row">
                <label class="col-lg-2 control-label">Poll Id :</label>
                <label class="col-lg-2 control-label">@Model.PollId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Title :</label>
                <label class="col-lg-2 control-label">@Model.Name</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">OwnerId :</label>
                <label class="col-lg-2 control-label">@Model.OwnerId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Owner First Name :</label>
                <label class="col-lg-2 control-label">@Model.Profile.FirstName</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Poll creation date :</label>
                <label class="col-lg-2 control-label">@Model.CreationDate</label>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2 control-label">
                    @Html.ActionLink("Go to creator profile", "Show", "Profile", new { id = Model.Profile.ProfileId }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>

</div>

<ul class="list-group">
    <li class="list-group-item active">
        <h4 class="list-group-item-heading">Questions</h4>
    </li>

    @foreach (var question in Model.Questions)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-12">
                    <h4>@(i++). <span>&nbsp;</span> @question.Text</h4>
                </div>
            </div>
            @foreach (var answer in question.Answers)
            {
                <div class="row">
                    <div class="col-lg-11 col-lg-offset-1">
                        <span class="glyphicon glyphicon-asterisk">&nbsp;</span>
                        <span>@answer.Text</span>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12">
                    <span>&nbsp;</span>
                </div>
            </div>
        </li>
    }


</ul>

@if (ViewBag.UserIsProfileOwner || ViewBag.UserIsAdmin)
{
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Edit poll", "Edit", "Poll", new { id = Model.PollId }, new { @class = "btn btn-info btn-block" })
        </div>
        <div class="col-md-4 col-md-offset-2">
            @Html.ActionLink("Start poll", "Fill", "Poll", new { id = Model.PollId }, new { @class = "btn btn-warning btn-block" })
        </div>
        <div class="col-md-2 col-md-offset-2">
            <form action="/poll/delete/@Model.PollId" method="post">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-danger btn-block">Delete poll</button>
            </form>
        </div>
    </div>
}


