@model Licenta.Models.Poll

@{
    ViewBag.Title = Model.Name;
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.message</p>
    </div>
}

<h1>@ViewBag.Title</h1>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">Poll details</div>

    <div class="panel-body">
        <div class="container">
            <div class="row">
                <label class="col-lg-2 control-label">Poll Id :</label>
                <label class="col-lg-2 control-label">@Model.PollId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Title :</label>
                <label class="col-lg-2 control-label">@Model.Name</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">OwnerId :</label>
                <label class="col-lg-2 control-label">@Model.OwnerId</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Owner First Name :</label>
                <label class="col-lg-2 control-label">@Model.Profile.FirstName</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Poll creation date :</label>
                <label class="col-lg-2 control-label">@Model.CreationDate</label>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2 control-label">
                    @Html.ActionLink("Go to creator profile", "Show", "Profile", new { id = Model.Profile.ProfileId }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>

</div>

@if (ViewBag.UserIsProfileOwner || ViewBag.UserIsAdmin)
{
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                @Html.ActionLink("Edit poll", "Edit", "Poll", new { id = Model.PollId }, new { @class = "btn btn-info" })
            </div>
            <div class="col-md-2">
                <form action="/poll/delete/@Model.PollId" method="post">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="btn btn-danger">Delete poll</button>
                </form>
            </div>
        </div>
    </div>
}


