
@{
    ViewBag.Title = "List of all profiles";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.message</p>
    </div>
}

<br />
<h2 class="text-center">List of all profiles</h2>
<hr />

<div class="list-group">
    @foreach (var profile in ViewBag.ProfilesList)
    {
        <a href="/Profile/Show/@profile.ProfileId" class="list-group-item list-group-item-action bg-light">
            <div class="row">
                <div class="col-12 col-xl-5 my-2 d-inline-flex">
                    <i class="fas fa-user text-primary mr-3" style="font-size: 2.5rem;"></i>
                    <h4 class="mb-0 mt-2 ml-1 font-weight-bold text-justify">@profile.FirstName @profile.LastName</h4>
                </div>
                <div class="col-12 col-xl-5 d-inline-flex">
                    <i class="far fa-envelope mt-2 mr-3 text-primary" style="font-size: 2.5rem;"></i>
                    <h5 class="mb-0 mt-2 pt-2">@profile.Email</h5>
                </div>

                <div class="col-12 col-xl-2">
                    <span class="badge badge-primary badge-pill mt-3">Created at: <br /> @profile.CreationDate</span>
                </div>
            </div>
        </a>
    }
</div>

