@model Licenta.Models.Profile

@{
    ViewBag.Title = "Profile of " + Model.FirstName;
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.message</p>
    </div>
}

<h1>@ViewBag.Title</h1>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">Details</div>

    <div class="panel-body">
        <div class="container">
            <div class="row">
                <label class="col-lg-2 control-label">First Name :</label>
                <label class="col-lg-8 control-label">@Model.FirstName</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Last Name :</label>
                <label class="col-lg-8 control-label">@Model.LastName</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Age :</label>
                <label class="col-lg-8 control-label">@Model.Age</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Profile creation date :</label>
                <label class="col-lg-8 control-label">@Model.CreationDate</label>
            </div>
            <div class="row">
                <label class="col-lg-2 control-label">Polls created : </label>
                <label class="col-lg-2 control-label">@Model.Polls.Count</label>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2 control-label">
                    @Html.ActionLink("View the polls of this user", "ShowPolls", "Profile", new { id = Model.ProfileId }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Description</div>

    <div class="panel-body">
        <p>@Model.Description</p>
    </div>

</div>

@if (ViewBag.UserIsProfileOwner || ViewBag.UserIsAdmin)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Edit profile", "Edit", "Profile", new { id = Model.ProfileId }, new { @class = "btn btn-info" })

            </div>
            @if (ViewBag.UserIsProfileOwner)
            {
                <div class="col-md-2 col-md-offset-6">
                    @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class = "btn btn-warning" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Delete account", "ConfirmDelete", "Profile", new { id = Model.ProfileId }, new { @class = "btn btn-danger" })
                </div>
            }
            else
            {
                <div class="col-md-2 col-md-offset-8">
                    @Html.ActionLink("Delete account", "ConfirmDelete", "Profile", new { id = Model.ProfileId }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
}


