@model Licenta.Models.RegisterViewModel


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-xl-11 offset-xl-1 mt-1 mb-2">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <legend class="col-xl-10 offset-xl-2 pl-3">Some details about you</legend>
            <div class="col-xl-10 offset-xl-2 p-0">
                <div class="col-xl-9 pl-0">
                    <hr />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-xl-10 offset-xl-2 control-label" })
                <div class="col-xl-10 offset-xl-2">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-xl-10 offset-xl-2 control-label" })
                <div class="col-xl-10 offset-xl-2">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-xl-10 offset-xl-2 control-label" })
                <div class="col-xl-10 offset-xl-2">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-xl-10 offset-xl-2 control-label" })
                <div class="col-xl-10 offset-xl-2">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <legend class="col-xl-9 offset-xl-3 pl-3">Your login information</legend>
            <div class="col-xl-7 offset-xl-3 p-0">
                <div class="col-xl-12 pl-0 pr-2">
                    <hr />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-xl-9 offset-xl-3 control-label" })
                <div class="col-xl-9 offset-xl-3">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-xl-9 offset-xl-3 control-label" })
                <div class="col-xl-9 offset-xl-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xl-9 offset-xl-3 control-label" })
                <div class="col-xl-9 offset-xl-3">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xl-9 offset-xl-3 mt-4 pt-3" >
                <input type="submit" class="btn btn-primary btn-lg btn-block py-3" value="Create account" style="font-size: 1.6rem !important;" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
